%h1= @title || "Students"

= partial 'students/grades'

%table{class: "table"}
  %thead
    %tr
      %th Name
      %th Homeroom
      %th State ELA Score
      %th State Math Score
  %tbody
  - @students.each do |student|
    %tr{"data-grade" => student.grade, "data-homeroom" => student.homeroom}
      %td= link_to student.name, url_for(:students, :show, :id => student.id)
      %td= link_to_homeroom student.homeroom
      %td= student.english_score
      %td= student.math_score
