%h1= @title || "Students"

= partial 'students/grades'

%table{class: "table"}
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Grade
      %th Homeroom
  %tbody
  - @students.each do |student|
    %tr{"data-grade" => student.grade, "data-homeroom" => student.homeroom}
      %td= link_to student.firstname, url_for(:students, :show, :id => student.id)
      %td= link_to student.lastname, url_for(:students, :show, :id => student.id)
      %td= student.grade
      %td= student.homeroom
