%h1= @title || "Students"

= partial 'students/grades'

%table#student-index.table.tablesorter
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Grade
      %th Homeroom
      %th ELA Score
      %th Math Score
  %tbody
    - @students.each do |student|
      %tr{"data-student-id" => student.id, "data-homeroom" => student.homeroom, "data-grade" => student.grade}
        %td= link_to student.firstname, url_for(:students, :show, :id => student.id)
        %td= link_to student.lastname, url_for(:students, :show, :id => student.id)
        %td= student.grade
        %td= student.homeroom
        %td= student.ela
        %td= student.math
