.row 
  .span12
    %h1= @student.name

- if @student.active
  .row
    .span12
      %ul#student-info
        %li= "<strong>Marking Period</strong>: #{@marking_period}"
        %li= "<strong>Grade</strong>: #{@student.grade}"
        %li= "<strong>Homeroom</strong>: #{@student.homeroom}"

  .row 
    .span12
      %h2 Grades
      %table#student-show.table
        %thead
          %tr
            %th Course
            %th Score
            %th Benchmark
            %th Progress
        %tbody
          - @records.each do |record|
            %tr
              %td= link_to record.course.name, url_for(:courses, :show, :id => record.course.code)
              %td= record.score
              %td= record.exam
              %td= record.progress

.row 
  .span12
    %h2 Notes

.row
  .span12
    %table{class: "table"}
      %thead
        %tr
          %th Date
          %th Type
          %th Teacher
      %tbody
        - @notes.each do |note|
          %tr
            %td= note.date
            %td= link_to note.type_to_s, url_for(:notes, :show, :id => note.id)
            %td= note.user.email
          
.row
  .span12
    %p= link_to "Create Note", url_for(:notes, :create, :student_id => @student.id), class: 'btn'

.row
  .span12
    %h2 Examinations
    %table{class: "table"}
      %thead
        %tr
          %th Exam
          %th Year
          %th Score
      %tbody
      - @student.exams.each do |exam|
        %tr
          %td= exam.comment
          %td= exam.year
          %td= exam.score
