<div class="pagination">
	<ul>
	<li class="ms"><a href="?grade[]=6&grade[]=7&grade[]=8">Middle School</a></li>
	<li class="hs"><a href="?grade[]=9&grade[]=10&grade[]=11&grade[]=12">High School</a></li>
	<% Student.grades.each do |grade| %>
	<li class="grade<%= grade %>"><a href="?grade=<%= grade %>"><%= grade %></a></li>
	<% end %>
	</ul>
</div>

<script type="text/javascript" charset="utf-8">
  if (Array.isArray(<%= params[:grade] %>)) {
   $.each(<%= params[:grade] %>, function(k,v) {
     $('.grade' + v).addClass('active');
   });
  } else {
    $('.grade<%= params[:grade] %>').addClass('active');
  };
</script>