<%= erb :_marking_period_filter %>

<%= erb :_subject_filter %>

<%= erb :_course_breakdown %>

<% if @courses.empty? %>
	<div class="alert-message error"><strong>Oh, Snap!</strong> For some reason, there are no results for your search.</div>
<% end %>

<% if @notice %>
	<div class="alert-message error"><%= @notice %></div>
<% end %>

<table class="table table-striped table-condensed table-bordered tablesorter courses-table" id="courses-table">
	<thead>
		<tr>
			<th class="course-name">Course Name</th>
			<th class="course-code">Course Code</th>
			<th class="teacher">Teacher</th>
			<th class="subject">Subject</th>
		</tr>
	</thead>
	<tbody>
	<% @courses.each do |course| %>
		<tr>
			<td class="course-name"><a href="/courses/<%= course.code %>"><%= course.name %></a></td>
			<td class="course-code"><%= course.code %></td>
			<td class="teacher"><a href="/courses?teacher=<%= course.teacher %>"><%= course.teacher %></a></td>
			<td class="subject"><a href="?subject=<%= course.subject %>"><%= course.subject %></a></td>
		</tr>
	<% end %>
	</tbody>
</table>