<% if @notice %><div class="alert-message error"><%= @notice %></div><% end %>

<%= erb :_marking_period_filter %>

<h3>Probation Breakdown by Number of Students</h3>

<table class="table table-bordered table-striped table-condensed tablesorter probation-table" id="probation-table">
	<tr>
		<th>Grade</th>
		<th colspan="2">Good Standing</th>
		<th colspan="2">Level 1</th>
		<th colspan="2">Level 2</th>
		<th colspan="2">Level 2+</th>
	</tr>
	<% ProbationReport.whole_school(@marking_period).each do |grade| %>
	<tr>
		<td><%= grade.grade %></td>
		<% grade.numbers_and_percents.flatten.each do |level| %>
		<td><%= level %></td>
		<% end %>
	</tr>
	<% end %>
	<tr class="table-totals">
		<td>Total</td>
		<% ProbationReport.new(:all, @marking_period).numbers_and_percents.flatten.each do |level| %>
		<td><%= level %></td>
		<% end %>
	</tr>
</table>

<div class="row">
	<div class="span6">
		<a href=""><img src="<%= Chart.probation(:mp => @marking_period).to_url %>"></a>
	</div>
	<div class="span6">
		<img src="<%= Chart.probation_bar(:mp => @marking_period).to_url + "&chxt=x&chxl=0:|6|7|8|9|10|11|12" %>">
	</div>
</div>

<h3>Exam Data by Cohort (Middle School)</h3>

<table class="table table-bordered table-striped table-condensed tablesorter exam-table" id="exam-data">
	<thead>
		<tr>
			<th>Cohort</th>
			<th>NYS ELA &mu;</th>
			<th>NYS Math &mu;</th>
			<th>Predictive ELA &mu;</th>
			<th>Predictive Math &mu;</th>
			<th>&Delta; ELA</th>
			<th>&Delta; Math</th>
			<th>ELA Grade &mu;</th>
			<th>Math Grade &mu;</th>
			<th>ELA Benchmark &mu;</th>
			<th>Math Benchmark &mu;</th>
		</tr>
	</thead>
	<tbody>
		<% GradeReport.middle_school(@marking_period).each do |data| %>
		<tr>
			<td><%= data.grade %><%= data.cohort %></td>
			<% data.to_a.each do |datum| %>
			<td><%= datum.rounded %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>