<div id="student-info">
	<ul>
		<li><strong>Grade</strong>: <a href="/students?grade=<%= @student.grade %>"><%= @student.grade %></a></li>
		<li><strong>Homeroom</strong>: <a href="/students?homeroom=<%= @student.homeroom %>"><%= @student.homeroom %></a></li>
		<li><strong>Home Language</strong>: <%= @student.language %></li>
	</ul>
</div>

<%= erb :_marking_period_filter %>

<% if @notice %><div class="alert-message warning"><%= @notice %></div><% end %>

<table class="table table-bordered table-striped table-condensed tablesorter grade-table" id="grade-table">
	<thead>
		<tr>
			<th>Course Name</th>
			<th>Course Code</th>
			<th>Marking Period</th>
			<th>Grade</th>
			<th>&sigma; Grade</th>
			<th>&Delta; Grade</th>
			<th>Benchmark</th>
			<th>&sigma; Benchmark</th>
			<th>&Delta; Benchmark</th>
		</tr>
	</thead>
	<tbody>
		<% @records.each do |record| %>
		<tr>
			<td><a href="/courses/<%= record.course.code %>"><%= record.course.name %></a>
				<% if record.failing? %><span class="label important">Failing</span><% end %>
				<% if record.at_risk? %><span class="label warning">At Risk</span><% end %>
			</td>
			<td><%= record.course.code %></td>
			<td><%= record.mp %></td>
			<td><%= record.score %></td>
			<td><%= record.deviance(:score, :class, :rounded) %></td>
			<td><%= record.change(:score) unless record.change == nil || record.score == nil %></td>
			<td><%= record.exam %></td>
			<td><%= record.deviance(:exam, :class, :rounded) %></td>
			<td><%= record.change(:exam) unless record.change == nil || record.exam == nil %></td>

		</tr>
		<% end %>
	</tbody>
</table>

<div id="exams">
		<h2>Standardized Examinations</h2>

		<ul id="exam_list">
				<% @student.exams.each do |exam| %>
				<li><span class="exam-title"><%= exam.comment %></span>: <%= exam.score %></li>
				<% end %>
		</ul>
</div>
