<table class="table table-bordered table-striped table-condensed tablesorter" id="subject-breakdown">
	<tr>
		<th>Subject</th>
		<th colspan="2">Good Standing</th>
		<th colspan="2">Level 1</th>
		<th colspan="2">Level 2</th>
		<th colspan="2">Level 2+</th>
	</tr>
	<% Course.subjects.each do |subject| %>
	<tr>
		<td><a href="/courses?subject=<%= subject %>"><%= subject %></a></td>
		<td><%= (Record.subject(subject).mp(@marking_period).good_standing.count / Record.subject(subject).mp(@marking_period).count.to_f).to_percent %>%</td>
		<td><%= Record.subject(subject).mp(@marking_period).good_standing.count %></td>
		<td><%= (Record.subject(subject).mp(@marking_period).probation_1.count / Record.subject(subject).mp(@marking_period).count.to_f).to_percent %>%</td>
		<td><%= Record.subject(subject).mp(@marking_period).probation_1.count %></td>
		<td><%= (Record.subject(subject).mp(@marking_period).probation_2.count / Record.subject(subject).mp(@marking_period).count.to_f).to_percent %>%</td>
		<td><%= Record.subject(subject).mp(@marking_period).probation_2.count %></td>
		<td><%= (Record.subject(subject).mp(@marking_period).failing.count / Record.subject(subject).mp(@marking_period).count.to_f).to_percent %>%</td>
		<td><%= Record.subject(subject).mp(@marking_period).failing.count %></td>
	</tr>
	<% end %>
</table>