%h1 Courses

%table{class: "table"}
  %thead
    %tr
      %th Name
      %th Teacher
      %th Subject
      %th Code
      %th Section
      %th Year
  %tbody
  - @courses.each do |course|
    %tr
      %td= link_to course.name, url_for(:courses, :show, :id => course.code)
      %td= course.teacher
      %td= course.subject
      %td= course.code
      %td= course.section
      %td= course.year