%h1= @course.name

%table.table
  %thead
    %tr
      %th Section
      %th Marking Period
      %th Year
      %th Weight
    %tr
      %td= @course.section
      %td= @marking_period
      %td= @year
      %td= @course.weight

%h2 Grades
%table#course-show.table
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Homeroom
      %th Score
      %th Benchmark
  %tbody
    - @records.each do |record|
      %tr
        %td= link_to record.student.firstname, url_for(:students, :show, :id => record.student.id)
        %td= link_to record.student.lastname, url_for(:students, :show, :id => record.student.id)
        %td= link_to_homeroom record.student.homeroom
        %td= record.score
        %td= record.exam

- if @records.count > 15
  .row
    .span6
      %h3 Highest Performing Third
      %table.table.top-third
        %thead
          %tr
            %th Student
        %tbody
        - @records.top_third.each do |record|
          %tr
            %td= link_to record.student.name, url_for(:students, :show, :id => record.student.id)
    .span6
      %h3 Lowest Performing Third
      %table.table.bottom-third
        %thead
          %tr
            %th Student
        %tbody
        - @records.bottom_third.each do |record|
          %tr
            %td= link_to record.student.name, url_for(:students, :show, :id => record.student.id)
