.row
  .span6
    - form_tag '/students/show', :class => 'student-search-form home-page-form', :method => 'get' do
      = flash_tag(:notice)
      %select#student-selector{"data-placeholder" => "Search for a Student", name: "id"}
        %option{value: ""}
      = submit_tag "Search &rarr;", :class => "btn btn-primary"
  .span6
    - form_tag '/courses/teachers', :class => 'teacher-search-form home-page-form', :method => 'get' do
      = flash_tag(:notice)
      %select#course-selector{"data-placeholder" => "Search for a Teacher", name: "teacher"}
        %option{value: ""}
        - @courses.teachers.each do |teacher|
          %option{value: teacher}= teacher
      = submit_tag "Search &rarr;", :class => "btn btn-primary"
