.navbar
  .navbar-inner
    %a{class: 'brand', href: '/'} Student Database
    %ul.nav
      - if user_has_access
        %li= link_to "Students", url_for(:students, :index)
        %li= link_to "Courses", url_for(:courses, :index)
        %li.dropdown
          %a{href: '#', class: 'dropdown-toggle', "data-toggle" => "dropdown"} Probation
          %ul.dropdown-menu
            %li= link_to "Level One", url_for(:students, :probation, :level => 1)
            %li= link_to "Level Two", url_for(:students, :probation, :level => 2)
            %li= link_to "Level Three", url_for(:students, :probation, :level => 3)
            %li= link_to "Ineligible", url_for(:students, :ineligible)
        %li.dropdown
          %a{href: '#', class: 'dropdown-toggle', "data-toggle" => "dropdown"} Reports
          %ul.dropdown-menu
            %li= link_to "Middle School Exam Breakdown", url_for(:reports, :middle_school_exams)
      - if user_is_admin
        %li= link_to "Users", url_for(:users, :index)
